/* Imported Google Font: Josefin Sans */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

/* Navigation Bar */

nav {
    width: 100%;
    height: 100x;
    background-color: #9AA6A4;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
}

/* Nav bar links hover effect */

nav ul li a:hover {
    color: #83687A;
}

/* Logo */

nav a .logo-svg {
    height: 100px;
    width: 100px;
}

/* Media for Phone & Tablet */

/* Hero image & Overlay */

.hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url(/assets/images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

/* Hero Content */

.hero-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.hero-content-inner h1 {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 15px !important;
    color: #f1f1f1;
}

.hero-content-inner p {
    font-size: 20px;
    color: #f1f1f1;
}

.hero-content button {
    width: 220px;
    height: 60px;
    margin-top: 20px !important;
    border-radius: 30px;
    font-size: 20px;
    background-color: #83687A;
    outline: none;
    text-transform: uppercase;
    color: #f1f1f1;
    box-shadow: 0 0 20px #334B48;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all ease-in .2s;
}

/* Button Hover */

.hero-content button:hover {
    background-color: #B89BAE;
    border-color: #f1f1f1;
    color: #334B48;
    box-shadow: 0 0 40px #B89BAE;
    border: 2px solid #f1f1f1;
}

/* Media for small screen => Hero Image & Hero Content */

@media(max-width: 540px) {
    .hero-content {
        width: 100%;
    }

    .hero-content-inner h1 {
        font-size: 30px;
    }

    .hero-content-inner p {
        font-size: 15px;
    }

    .hero-content button {
        width: 180px;
        height: 40px;
        margin-top: 10px;
        border-radius: 30px;
        font-size: 15px;
    }
}

/* Main Wrapper */

.main-wrapper {
    width: 100%;
    height: auto;
}

/* About Wrapper */

.about-wrapper {
    display: flex;
    flex-direction: row;
}

/* About Row => Content */

.about-row1 {
    box-sizing: content-box;
    background-color: #334B48;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-row1-content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-row1-content h2 {
    font-size: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #f1f1f1;
}

.about-row1-content p {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 15px;
}

/* About Row => Image */

.about-row2 {
    height: 500px;
    width: 100%;
}

.about-img {
    width: 100%;
    height: 500px;
    text-align: center;
    background: url(/assets/images/about-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Open hours Wrapper */

.open-hours-wrapper {
    display: flex;
    flex-direction: row;
}

/* Open Hours Row => Content */

.open-hours-row1 {
    box-sizing: content-box;
    height: 500px;
    width: 100%;
    background-color: #9AA6A4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-hours-row1-content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.open-hours-row1-content h2 {
    font-size: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #f1f1f1;
}

.open-hours-row1-content p {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 15px;
}

.open-hours-row1-content ul {
    list-style: none;
    text-align: center;
    letter-spacing: 1.45px;
    font-size: 22px;
    padding-bottom: 25px;
}

.open-hours-row1-content ul li {
    color: #f1f1f1;
    padding-bottom: 5px;
}

.open-hours-row1-content a {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f1f1;

}

.open-hours-row1-content a:hover {
    color: #83687A;
    text-decoration: underline;
}

/* Open Hours Row => Image */

.open-hours-row2 {
    height: 500px;
    width: 100%;
}

.open-hours-img {
    width: 100%;
    height: 500px;
    background: url(/assets/images/openhrs-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Reservation Wrapper */

.reservation-wrapper {
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.reservation-row1 {
    height: 500px;
    width: 100%;
    background-color: #334B48;
}

.reservation-row1-content {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reservation-row1-content h2 {
    font-size: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #f1f1f1;
}

.reservation-row1-content p {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 15px;
}

.reservation-row1-content button {
    width: 220px;
    height: 60px;
    margin-top: 20px !important;
    border-radius: 30px;
    font-size: 20px;
    background-color: #83687A;
    outline: none;
    text-transform: uppercase;
    color: #f1f1f1;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all ease-in .2s;
}

.reservation-row1-content button:hover {
    background-color: #B89BAE;
    border-color: #f1f1f1;
    color: #334B48;
    box-shadow: 0 0 40px #B89BAE;
    border: 2px solid #f1f1f1;
}


/* Reservations => Image */

.reservation-row2 {
    height: 500px;
    width: 100%;
}

.reservation-img {
    width: 100%;
    height: 500px;
    background: url(/assets/images/reserve-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contact Wrapper */

.contact-wrapper {
    display: flex;
    flex-direction: row;
}

/* Contact Row => Content */

.contact-row1 {
    box-sizing: content-box;
    background-color: #9AA6A4;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-row1-content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-row1-content h2 {
    font-size: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #f1f1f1;
}

.contact-row1-content p {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 15px;
}

.contact-row1-content a {
    font-weight: bold;
    text-decoration: none;
    color: #83687A;

}

.contact-row1-content a:hover {
    color: #83687A;
    text-decoration: underline;
}

/* Contact Row => Embeded Map */

.contact-row2 {
    height: 500px;
    width: 100%;
}

.contact-row2-map {
    height: 100%;
    width: 100%;
}

/* Footer Wrapper */

.footer-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}

/* Footer Row => Company's Socials */

.footer-row1 {
    box-sizing: content-box;
    background-color: #1f2e2d;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row1-content h2 {
    font-size: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #f1f1f1;
}

.footer-row1-content p {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 15px;
}

.footer-row1-content a {
    color: #83687A;
    display: flex;
    justify-content: center;
}

.footer-row1-content i {
    font-size: 25px;
}

.footer-row1-content i:hover {
    color: #B89BAE;
}

/* Footer Row => Author's Socials */


.footer-row2 {
    height: 200px;
    width: 100%;
    background-color: #1f2e2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row2-content p {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 15px;
}

.footer-row2-content-socials {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row2-content-socials a {
    color: #83687A;
}

.footer-row2-content-socials .bi.bi-linkedin {
    font-size: 25px;
    margin-right: 10px;
}

.footer-row2-content-socials .bi.bi-github {
    font-size: 25px;
    margin-left: 10px;
}

.footer-row2-content-socials i:hover {
    color: #B89BAE;
}

/* Back on top */

.back-on-top {
    background: #83687A;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #f1f1f1 !important;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.back-on-top.active {
    bottom: 32px;
    pointer-events: auto;
    transition: all .4s;
    opacity: 1;
}

.back-on-top.active:hover {
    background-color: #B89BAE;
    border-color: #f1f1f1;
    box-shadow: 0 0 40px #B89BAE;
    border: 1px solid #f1f1f1;
}

/* Copyright */

.footer-copy {
    width: 100%;
    height: 30px;
    background-color: #1f2e2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copy p {
    color: #f1f1f1;
}

/* Medium & Small Screen => Main Wrapper */

@media(max-width: 720px) {
    .main-wrapper>* {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 540px) {
    .main-wrapper>* {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .main-wrapper {
        width: 100%;
    }

    .main-wrapper>h2 {
        font-size: 25px;
    }

    .main-wrapper>p {
        font-size: 15px;
    }

    .main-wrapper>button {
        width: 180px;
        height: 40px;
        margin-top: 10px;
        border-radius: 30px;
        font-size: 15px;
    }
}