/* Imported Google Font: Josefin Sans */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Navigation Bar */

nav {
    width: 100%;
    height: 100x;
    background-color: #9AA6A4;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    font-size: 22px;
    padding-right: 20px;
    padding-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #334B48;
}

/* Nav bar links hover effect */

nav ul li a:hover {
    color: #83687A;
}

/* Logo */

nav a .logo-svg {
    height: 90px;
    width: 90px;
    border-radius: 2px;
}

/* Hero image & Overlay */

.hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url(/assets/images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

/* Hero Content */

.hero-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.hero-content-inner h1 {
    font-size: 50px;
    border-bottom: 15px;
    color: #f1f1f1;
}

.hero-content-inner p {
    font-size: 20px;
    color: #f1f1f1;
}

.hero-content button {
    width: 220px;
    height: 60px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #83687A;
    outline: none;
    text-transform: uppercase;
    color: #f1f1f1;
    box-shadow: 0 0 20px #334B48;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all ease .2s;
}

/* Button Hover */

.hero-content button:hover {
    background-color: #B89BAE;
    border-color: #f1f1f1;
    color: #334B48;
    box-shadow: 0 0 40px #B89BAE;
    border: 2px solid transparent;
}

@media(max-width: 540px) {
    .hero-content {
        width: 100%;
    }

    .hero-content-inner h1 {
        font-size: 30px;
    }

    .hero-content-inner p {
        font-size: 15px;
    }

    .hero-content button {
        width: 180px;
        height: 40px;
        margin-top: 10px;
        border-radius: 30px;
        font-size: 15px;
    }
}